

    <div class="container-fluid"  id="login">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">

                </div>


                <div class="col-lg-6 col-lg-offset-3">

                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid"  id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <img src="images/milnaologo.png" class="img-responsive">
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" id="button-log">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Registration Form</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <h2>Insert your email address</h2>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="sizing-addon1">@</span>
                            <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
                        </div>
                        <h2>Insert your password</h2>
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" placeholder="PassWord" aria-describedby="sizing-addon1">
                        </div>
                        <h2>Confirm your password</h2>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Password confirmation" aria-describedby="sizing-addon2">
                        </div>
                    </form>
                </div>
                <div class="modal-footer" id="button-log">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">SIGN UP</button>
                </div>
            </div>
        </div>
    </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
